.loginForm
{
	display:flex;
	flex-direction:column;
	margin:0 auto;
}

.loginForm input
{
	margin:1rem;
}

.pwd
{
	text-align:center;
}

.error
{
	background-color:var(--c-error);
	color:#fff;
	padding:0.5rem;
	font-weight:bold;
}

h1
{
	margin-bottom:1rem;
	padding:1rem;
}

input
{
	padding:0.6rem 2rem;
	border:2px solid var(--c-accent);
	border-radius:5px;
	outline:none;
	color:var(--c-accent);
	background:transparent;
	font-size:1rem;
	font-weight:bold;
	transition: background-color .5s, color .5s;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active
{
	background-color:var(--c-accent);
	color:var(--c-primary-dark);
}